.card-text {
    line-height: 1.3;
}

.keyword {
    font-weight: bold;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.2);
    cursor: default;
}

.keyword-electric {
    color: #ffe620;
}

.keyword-thermal {
    color: #ff3b30;
}

.keyword-kinetic {
    color: #888;
}

.keyword-void {
    color: #a259ff;
}

.keyword-mechanic {
    color: #5ac8fa;
}

.keyword-synergy {
    color: #39ff14;
}

.keyword-passive {
    color: #ff9f0a;
}